header 
  .wrapper 
    .line-menu
      a(href="#").logo 
        img(src="img/logo_startup.png", alt="STARTUP - Creative Agency Template")
      .burger-menu
        span
      nav.menu 
        ul.menu-list 
          li
            a.montserrat(href="#") Home
          li
            a.montserrat(href="#") Services
          li
            a.montserrat(href="#") About
          li
            a.montserrat(href="#") Works
          li
            a.montserrat(href="#") Blog
          li
            a.montserrat(href="#") Clients
          li
            a.montserrat(href="#") Contact
      
    .header-content 
      h1 Welcome to STARTUP
      p.agency Your Favourite Creative Agency Template
      a.registration.button(href="#") Get Started
      